  @import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 10vh;
    background-color: rgb(84, 58, 42);
    text-align: center;
}

header h1{
    padding: 1rem;
    font-family: 'Darumadrop One', cursive;
    font-weight: bolder;
    font-size: 30px;
    color: aliceblue;
}

.main{
    position: relative;
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    background-image: url(./img/banana.jpg);
    background-size: cover;
}
.container-textarea{
    margin-top: 3rem;
    border: 1px solid #323232;
    width: 70vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #131313;
}
.div-textarea{
    height: 100%;
    width: 100%;
}

.textarea{
    border: none;
    overflow: auto;
    outline: none;
    background: none;
    width: 50%;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
.output-div-textarea{
    background-color: #ececec89;
}
.button-div{
    position: absolute;
    top: 30%;
    color: rgb(84, 58, 42);
}
.button-div:hover{
    
}
.footer-div{
    position: absolute;
    background-color: rgba(84, 58, 42, 0.208);
    top:60vh;
    margin: 1rem;
}
.footer-div h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.footer-div p{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding: 0.5rem;
}