@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Kalam&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 10vh;
    background-color: rgb(61, 48, 48);
    text-align: center;
}

header h1{
    padding: 1rem;
    font-family: 'Homemade Apple', cursive;
    font-weight: bolder;
    font-size: 30px;
    color: aliceblue;
}

.main{
    position: relative;
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/banana.jpg);
    background-size: cover;
}
.container-textarea{
    border: 1px solid #323232;
    width: 70vw;
    height: 40vh;
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
    box-shadow: 2px 2px 5px #131313;
}
.div-textarea{
    height: 100%;
    width: 100%;
}

.textarea{
    border: none;
    overflow: auto;
    outline: none;
    background: none;
    font-size: xx-large;
    width: 50%;
    padding: 1rem;
}
.output-div-textarea{
    background-color: #ececec89;
}
.button-div{
    margin-top: 0;
    margin-bottom: 1rem;
}
.button{
    padding: 0.4rem 1rem 0.4rem 1rem;
    border: black solid 1px;
    border-radius: 50px;
    background-color:  rgb(61, 48, 48);
    color: aliceblue;
    font-weight: bolder;
    font-family: 'Homemade Apple', cursive;
    
}
.footer-div{
    position: absolute;
    background-color: rgba(37, 15, 15, 0.258);
    top:60vh;
    margin: 1rem;
}
.footer-div h1{
    text-align: center;
    font-family: 'Homemade Apple', cursive;
}
.footer-div p{
    font-family: 'Kalam', cursive;
    font-size: large;
    padding: 0.5rem;
}